.SearchPage{
flex: 0.8;
}
.SearchPage__filter{
    margin: 8px;
    display: flex;
    align-items: center;
    color: #606060;
    font-size: xx-small !important;
}
.SearchPagSearchPage__filtere__filter >h2 {
    margin-left: 10px;

}
.SearchPage > hr {
    height: 1px;
    border: 0;
    background-color: lightgrey;
    margin: 8px;
}